@font-face {
  font-family: "outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
* {
  margin: 0;
}

body {
  font-family: outfit;
  color: hsl(30, 10%, 34%);
}

h1, h2, h3 {
    font-family: YoungSerif-Regular;
    padding-bottom: 0.5em;
}

ul, ol {
  padding-left: 1.5em;
}

li {
  padding-left: 1em;
  padding-bottom: .5em;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}

tr { 
  border-style: solid;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

td {
  padding: .5em 2.5em;
}

th {
  color: hsl(14, 45%, 36%);
  padding-right: 3.5em;
}

.margin {
  margin: 10px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container h2 {
  color: hsl(14, 45%, 36%);
}

.header_img {
  margin: 0px;
  padding: 0;
}

.header_img img {
  width: 100vw;
}

.padding {
  padding: 1.5em 0em;
}

.line {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color:  hsl(30, 18%, 87%);
  
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  border-radius: 5%;
  padding: 0.5em;
  opacity: 80%;
}

.preparation h3 {
  font-family: outfit;
  color: hsl(332, 51%, 32%);
}

.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

.preparation li {
  padding: .5em;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 811px) {
  body {
  background-color: hsl(29, 60%, 90%);
  }

  .background {
    max-width: 830px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5%;
    margin: 0 auto;
  }

  .header_img img {
    max-width: 770px;
    border-radius: 3%;
    margin: 30px;
  }
}

@media (min-width: 1500px) {
  
  .header_img img {
    max-width: fit-content;
  }

  .background {
    max-width: 1400px;
  }

  .nutrition {
    max-width: 34%;
  }
}