@font-face {
  font-family: "outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
* {
  margin: 0;
}

body {
  font-family: outfit;
  color: #423428;
}

h1, h2, h3 {
    font-family: YoungSerif-Regular;
    padding-bottom: 0.5em;
}

.margin {
  margin: 10px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header_img {
  margin: 0px;
  padding: 0;
}

.header_img img {
  width: 100vw;
}

.padding {
  padding: 1.5em 0em;
}

.line {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #423428;
  
}

.preparation {
  background-color: #FCF3F6;
  border-radius: 5%;
  padding: 0.5em;
  opacity: 80%;
}

.preparation h3 {
  color: #571331;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%); 
}