@font-face {
  font-family: "outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

body {
    font-family: outfit;
}

h1, h2, h3 {
    font-family: YoungSerif-Regular;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%); 
}